.header {
	 display: flex;
	 justify-content: center;
	 flex-flow: column;
	 padding: 1rem;
 }
 
 .header-primary {
	 display: flex;
 }
 
 .search-bar {
	 display: flex;
	 align-items: center;
	 gap: 0.5rem;
	 flex: 1;
 }
 
 .material-symbols-outlined {
	 user-select: none;
 }
 
.search-bar input {
	border-radius: 20px;
	width: 80%;
	padding: 0 1rem;
}

.search-bar input:focus {
	outline: none;
}

.top-right-menu {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.user-icon {
	width: 4rem;
}

 .header-secondary {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 gap: 1rem;
 }
 
 .user-wrapper {
	 display: flex;
	 align-items: center;
 }
 
 .button-wrapper {
	 display: flex;
	 gap: 2rem;
 }

.header-secondary .user-icon {
	width: 6rem;
}

@media (min-width: 576px) {
	
};

@media (min-width: 768px) {
	
};

@media (min-width: 992px) {
	
};

@media (min-width: 1200px) {
	
};

@media (min-width: 1400px) {
	
};

