.header {
	 display: flex;
	 justify-content: center;
	 flex-flow: column;
	 padding: 1rem;
	 gap: 1.5rem;
 }
 
 .header-primary {
	 display: flex;
 }
 
 .search-bar {
	 display: flex;
	 align-items: center;
	 gap: 0.5rem;
	 flex: 1;
 }
 
 .material-symbols-outlined {
	 user-select: none;
 }
 
.search-bar input {
	border-radius: 20px;
	width: 80%;
	padding: 0 1rem;
}

.search-bar input:focus {
	outline: none;
}

.header-primary-menu {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 0.5rem;
}

.header-primary-menu > p {
	display: none;
}

.header-primary .user-icon {
	width: 2.3rem;
}

 .header-secondary {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 gap: 1rem;
 }
 
 .user-wrapper {
	 display: flex;
	 gap: 0.5rem;
	 align-items: center;
 }
 
 .user-wrapper p:first-child {
	 font-size: 0.75rem;
 }
 
 .button-wrapper {
	 display: flex;
	 gap: 1rem;
 }

.header-secondary .user-icon {
	width: 3rem;
}

@media (min-width: 576px) {
	
}

@media (min-width: 768px) {
	
	.header-primary-menu {
		flex-flow: row;
		flex-flow: row-reverse;
	}
	
	.header-primary-menu > p {
		display: block;
	}
	
	.header-secondary .user-icon {
		width: 5rem;
	}
	
	 .button-wrapper {
		 display: flex;
		 gap: 2rem;
	}
	
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
	
}

@media (min-width: 1400px) {
	
}

