.sidebar {
	display: grid;
	grid-gap: 1rem;
	padding: 1rem;
	font-size: 0.80rem;
}

.announcements,
.trending {
	display: grid;
	background: #EAEAEA;
	border-radius: 10px;
	padding: 1rem;
	
}

.trending-wrapper {
	display: grid;
	row-gap: 0.25rem;
}

.announcements > p,
.trending > p {
	font-size: 0.90rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}


.announcement:not(div:last-child),
.trending-items:not(div:last-child) {
	border-bottom: 1.5px solid #979191;
}

.trending-items {
	display: grid;
	column-gap: 1rem;
	grid-template-columns: auto 2fr;
	align-items: center;
}

.trending-items img {
	grid-row: span 2;
}

.announcement > p:first-child {
	font-weight: 600;
}

.sidebar img {
	width: 3rem;
}

@media (min-width: 576px) {
	
}

@media (min-width: 768px) {
	.sidebar {
		max-width: 300px;
	}
}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {
	
}

@media (min-width: 1400px) {
	
}
