 *, *::before, *::after {
	margin: 0;
	padding: 0;
	line-height: calc(1em + 0.5rem);
}


 :root {
 /* Color Palette */
	--clr-bg: #E7E7E7;
	--clr-primary: #366175;
	--clr-font:  #D5F1FF;
	--clr-hover: #24576F;
	--clr-card: #171717;
 }
 
 
 
 .wrapper {
	 display: grid;
	 grid-template: auto auto auto / auto 4fr auto;
  }
 
 .header {
	 grid-column: 2/-1;
 }
 
 .dashboard {
	 grid-row: 1/-1;
/*
	 border: 2px solid red;
*/
 }
 
 .main {
/*
	 border: 2px solid red;
*/
 }
 
 .sidebar {
/*
	 border: 2px solid red;
*/
 }
 

 
@media (min-width: 576px) {
	
}

@media (min-width: 768px) {
	
}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {
	
}

@media (min-width: 1400px) {
	
}



 
 
 
 
